.custom-form {
    max-width: 1000px;
    margin: 50px auto;
    padding: 30px;
    background-color: #f5f5f5; /* Cor de fundo cinza claro */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.custom-form h1 {
    text-align: center;
    margin-bottom: 20px;
}

.custom-form .form-row {
    margin-bottom: -10px;
}

.custom-form .form-group {
    padding: 0 10px;
}

.form-control {
    height: 38px;
}

.custom-form button[type="submit"],
.custom-form .btn-outline-success {
    width: 100px;
}

.bg-white {
    --bs-bg-opacity: 1;
    background-color: #f9f9f9 !important;
}