body {
    background-color: #f8f9fa;
}

.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-header {
    background-color: #343a40;
}
.form-inline label {
    margin-right: 10px;
}
.form-inline input {
    margin-right: 10px;
}
h1 {
    color: #343a40;
}
.table th {
    background-color: #343a40;
    color: white;
}

.navbar-nav .nav-link {
    color: white; 
}

.navbar-nav .nav-link:hover {
      background-color: #ececec;
      color: black !important; 
}